
.normal{
  
}
.article {
background-color: 'black'
}

.article:hover {
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}


.logo {

}

.logo:hover {
  background-color: #eeeeee;
  border-radius: 10px
}

.model img, .model span {
  transition: 0.3s;
}

.model:hover img {
  width: 220px !important;
  filter: grayscale(0) !important;
}

.model:hover span {
  font-size: 16px !important;
  color: black !important;
}

.chapter:hover {
  color: #2B6F7D !important;
}