
.normal{
  
}
.article {
background-color: 'black'
}

.article:hover {
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}


.logo {

}

.logo:hover {
  background-color: #eeeeee;
  border-radius: 10px
}

.model img, .model span {
  transition: 0.3s;
}

.model:hover img {
  width: 220px !important;
  filter: grayscale(0) !important;
}

.model:hover span {
  font-size: 16px !important;
  color: black !important;
}

.chapter:hover {
  color: #2B6F7D !important;
}

.scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.dot {
  /* height: 10px; */
  width: 15px;
  height: 15px;
  /* background-color: ; */
  /* border-radius: 50%; */
  display: inline-block;
}

.dotmobile {
  /* height: 10px; */
  width: 10px;
  height: 10px;
  /* background-color: ; */
  /* border-radius: 50%; */
  display: inline-block;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #2B6F7D;
  color :#2B6F7D;
  background-color: white;
  border-radius: 10px;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
  height: 30px;
  cursor: pointer; 
}

.btn:hover {
  background-color: #2B6F7D;
  color: white;
}

.vl {
  display: flex;
  text-decoration: none;
  box-sizing: content-box;
  flex-direction:column; 
  justify-content:space-between;
  border-left: solid;
  padding-left: 30px;
  border-width: 6px;
  border-left-color: #919191;
}

.vl:hover {
  display: flex;
  text-decoration: none;
  box-sizing: content-box;
  flex-direction:column; 
  justify-content:space-between;
  border-left: solid;
  padding-left: 30px;
  border-left-color:#2B6F7D;
  border-width: 6px;
  width: 300px;
  height:150px;
}


.vl .link {
  font-size:14px;
  text-decoration:none; 
  color: #919191;
  font-weight:700;
}

.vl:hover .link {
  font-size:14px;
  text-decoration:none; 
  color: #2B6F7D;
  font-weight:700;
}
